@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'VT323', monospace;
}

body{
  background-color: rgb(35, 39, 65);
}
#app-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: max-content;
  margin: 100px auto 0 auto;
}

h1, h4, h5{
  color: white;
}

h1{
  font-size: 5rem;
}
h4{
  font-size: 3rem;
}
h5{
  font-size: 2rem;
}

#menu-container {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#maze-game-container{
  margin-top: 60px;
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  text-align: center;
  gap: 50px;
}

#maze-grid-container{
  display: inline-grid;
  grid-template-columns: repeat(8, 0fr);
}

.maze-tile{
  width: 60px;
  height: 60px;
  position: relative;
}

.maze-path{
  background-color: rgb(116, 207, 30);
}

.maze-wall{
  background-color: rgb(29, 100, 2);
}

button{
  padding: 10px;
  font-size: 38px;
  background-color: rgb(129, 63, 36);
  color: rgb(230, 190, 105);
  border: 5px solid rgb(230, 190, 105);
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5) ;
  cursor: pointer;
  width: max-content;
  margin: auto;
}
